
<div id="Facts">
<h1>Invoice ID: <%= @invoice.id %></h1>
<p>Invoice status: <%= @invoice.status %></p>
<p>Created at: <%= @invoice.format_created_at %></p>
<p>Customer name: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</div>
<p> ----------------------------------------------- </p>

<div id="Total_revenue">
<strong> Total revenue from items sold: <%= @merchant.total_revenue_for_invoice(@invoice.id) %> </strong>
</div>

<p> ----------------------------------------------- </p>
<br/>
<h3> Items </h3>
<br/>
<div id="Items">
<% @merchant.items_sold_in_invoice(@invoice.id).each do |item| %>
<div id=<%= item.name %>>
<p> Item: <%= item.name %></p>
<p> Quantity sold: <%= item.invoice_items[0].quantity %></p>
<p> Unit price: <%= item.invoice_items[0].unit_price %></p>
<p> Status: <%= item.invoice_items[0].status %></p>
      <p> Update invoice item status: </p>
      <p><%= form_with model: item.invoice_items[0], url: merchant_invoice_item_path(@merchant, @invoice, item.invoice_items[0]), local: true do |form| %> </p>
        <%= form.select :status, options_for_select(InvoiceItem.statuses.keys, selected: item.invoice_items[0].status) %>
        <%= form.submit "Update Item Status" %>
      <% end %>
<p> ----------------------------------------------- </p>
</div>


<% end %>