<section id="item_attributes">
<%= image_tag(@image.url["small"]) %>
<%= @item.name %>
<br>
<%= @item.description %>
<br>
<%= @item.unit_price %>
</section>
<%= link_to "Update Item Info", edit_merchant_item_path(@item) %>